{% extends "base.html" %}

{% block title %}Class Schedule{% endblock %}

{% block content %}
<div class="container">
            <h2>Class Schedule</h2>
            <table class="table">
            <tr>
            <th>Period</th>
            <th>Class</th>
            <th>Teacher</th>
            <th>Web Resource</th>
            </tr>
            {% for course in courses %}
            <tr>
                <td>{{ course.period }}</th>
                <td>{{course.name}}</th>
                <td>{{course.teacher_name}}</th>
                <td><p><a href = "{{ course.resource_url }}">{{ course.resource_name }}</a></td>
                </p>
            </tr>
            {% endfor %}
         </table>
         </div>
{% endblock %}
